html{
    height: 800px;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    display: inline-block;
}

.App-header {
    text-align: right;
    height: 90px;
    padding: 5px 10px;
    background-image: url(screen.jpg);
    background-repeat:no-repeat;
    background-size: 1400px 500px;
}

.App-header h1 {
    font-weight: 300;
    font-size: 26px;
    color:white;
    font-weight: 600;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.App-content {
    height: 800px;
    padding: 20px;
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    background-size: 1400px 1000px;    
}
.App-Input-content{
    background-color:black;
}
.App-Input-content input{
    color:white;
    font-weight: bold;
}
.App-Input-content label{
    color:white;
    font-weight: bold;
    padding-left: 20px;
    
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.error-toast {
    color: #e74c3c;
}

.waves-effect {
  background-color: #b71c1c;
}
.waves-light {
  background-color: #d32f2f;
}

.btn-search {
  background-color:mediumspringgreen;
}

.btn-search:hover,
.btn-search:focus {
  background-color:mediumseagreen !important;
  color: #fff;
}